
/*----------------------Base Element Styles-------------------------  */
* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5;
}

.name {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.main-nav li {
  display: block;
  text-transform: uppercase;
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-left: -40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  color: #4a4a4a;
}



.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

/*"portfolio"heading  */
h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* padding-top: 30px; */
  padding-bottom: 30px;
  color: #4a4a4a;
}

h2 {
  font-size: 1.25em;
  color: #4a4a4a;
}

p {
  color: slategrey;
  font-size: 1.125rem;
}

address{
  line-height: 2;
  padding-top: 1em;
  padding-bottom: 2.5em;
}


address a {
  color: slategrey;
  font-style: normal;
}



img {
  width: 100%;
}

header,
footer{
  background-color: #fafafa;
  padding: 30px 5px;
}


section{
  padding-bottom: 1.25em;
}

.profile-image{
  max-width: 70%;
  padding-top: 35px;
  padding-bottom:15px;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

li {
  list-style: none;
}


/*----------------------Base Layout Styles-------------------------  */

.footer-nav{
  padding-left: 10px;
  padding-right: 10px;
}

#footer-name {
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  letter-spacing: 1px;
  color: #4a4a4a;
  float: left;
}

.footer-nav,
#footer-top {
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  float: right;
  color: #4a4a4a;
}

#footer-home,
#footer-portfolio,
#footer-contact {
  display: none;
}


/*----------------------Float Clearfix-------------------------  */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------Media Queries-------------------------  */

@media (min-width: 768px) {
  .wrapper {
    width: 90%
    max-width: 1000px;
  }

  .name {
    display: block;
  }

  .main-nav {
    text-align: center;
    display: block;
  }

  .main-nav li {
    display: inline-block;
    margin-left: -4px;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    background-color: inherit;
    font-size: 1rem;
  }

  .profile-image {
    float: right;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 0;
    background-position: red;
  }

  header p {
    text-align: left;
    margin-top: 0;
    padding-left: 15px;
    overflow-x: hidden;
    font-size: 1.25rem;
  }

  section {
    width: 50%;
    float: left;
    padding-left: .25em;
    padding-right: .25em;
  }

  section p {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    font-size: 1rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  footer {
    padding-top: 15px;
  }

  footer p {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    font-size: 1.25rem;
  }


  .footer-nav {
    float: right;
  }

  #footer-home,
  #footer-portfolio,
  #footer-contact {
    text-align: right;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 4px;
    margin-left: 8px;
  }

    #footer-top {
      display: none;
    }

}

@media (min-width: 1024px) {
  section {
    width: 33.3%;
    padding-left: .5rem;
    padding-right: .5rem;
  }

.name,
.main-nav,
.main-nav li {
    display: inline-block;
    text-align: left;
  }



  }

}
